body{

    /* background-color: rgba(209, 211, 219, 0.84) !important; */
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Ffree-photos-vectors%2Fbackground-pattern&psig=AOvVaw1AwMVimBj406QxIg9DaF8i&ust=1742964577234000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCKjS_Zq3pIwDFQAAAAAdAAAAABAJ");
    background-size:cover;
    background-position:center ;
    background-repeat:no-repeat;
    position: relative;

    /* background: linear-gradient(to right, #030108, #000000c0, #0000006a); */
   
} 

h1{
    font-size:70px !important;
    text-align:center;
    font-weight:bold;
    color:black!important;
    font-family:'Courier New', Courier, monospace;
    color:rgb(0, 0, 0)
}
.card {
    max-width: 900px; 
    margin: auto;
    background-color: rgb(17, 16, 25) !important;
    padding:20px;
    border-radius:10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
input.form-control {
    border-radius:5px;
    padding:10px;
    font-size:20px;
    margin-bottom:5px;
}
#taskId,#taskName{
    width:100%;
    display:block;
}

#startTime, #endTime {
    width:100%;
    
}
.row .btn {
    width:100%; 
    padding:12px; 
    font-size:20px; 
    border-radius:16px; 
}
/* #taskName {
    margin-left: 10px; /* Moves the Name field slightly to the right */
 */

.btn {
    margin-top:10px;
    width:auto;
    padding:8px 20px;
    font-size:16px;
    border-radius:5px;
}

.row.text-center .btn {
    display:flex;
    justify-content:center;
    gap: 10px; 
}
#display {
    margin-top:20px;
    text-align:center;
}       
table {
    width:100%;
    margin-top:10px;
    border-collapse:separate;
    border-spacing:10px;
}
th, td {
    border: 5px solid rgb(238, 238, 238);
    color:white;
    padding: 10px;
    text-align:center;

}

@media (max-width: 768px) {
    .row {
        flex-direction:column;
    }
    .btn {
        width:100%;
        margin-top:5px;
    }
    
    #taskId,#taskName{
        width:100%;
        margin-left:0;
    }
}